body{
  /* background: url('https://i.pinimg.com/originals/33/d0/e1/33d0e10ff8a6a3014e54d5da3f8e91f8.gif') no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: hard-light;
}
#AppWrapper{
  text-align: center;
  overflow: scroll;
  background-color: rgb(255, 255, 255);
  /* animation-name: gradient;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
  @keyframes gradient {
    0%  {
      background-color:rgba(255, 255, 255, 0.5);
    }
    25% {
      background-color:rgba(255, 255, 255, 0.8);
    }
    50%  {
      background-color:rgba(255, 255, 255, 1);
    }
    75%  {
      background-color:rgba(255, 255, 255, 0.8);
    }
    100% {
      background-color:rgba(255, 255, 255, 0.5);
    } */
  }
#App {
  display: inline-block;
  width: 100%;
  min-width: 1000px;
  max-width: 1350px;
  background-color: rgba(255, 255, 255, 0.9);
  /* background: linear-gradient(
    to bottom right, 
    rgb(188, 192, 195) 0%,
    rgb(244, 244, 244) 25%,
    rgb(207, 209, 212) 45%,
    rgb(232, 232, 232) 70%,
    rgb(188, 192, 195) 100%
  );  */
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.5);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

li{
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




@media only screen and (max-width: 724px){
  #App{
      width: 100%;
      min-width: 100%;
      height: 100%;
  }
}