#Bio{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    overflow: scroll;
}
.bio-intro{
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    top: 20px;
    font-size: 42px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    text-align: left;
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
}
.full-stack{
    animation-name: fullStack;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
  @keyframes fullStack {
    0%  {
        color: rgb(45, 128, 222);
        text-shadow: 0px 0px 2px rgb(121, 133, 159);
    }
    50%  {
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 8px rgb(45, 128, 222);
    }
    100% {
        color: rgb(45, 128, 222);
        text-shadow: 0px 0px 2px rgb(121, 133, 159);
    }
  }
.bio-content-skills{
    font-size: 26px;
    line-height: 28px;
    margin-top: -5px;
    margin-left: -5px;
    padding: 5px 10px 8px 10px;
    color: rgb(64, 64, 64);
    text-align: left;
    text-shadow: 0px 1px 2px rgb(0, 0, 0, .5);
    background-color: black;
}

.text-blue{
    color: rgb(78, 156, 202);
}
.text-yellow{
    color: rgb(217, 206, 5);
}
.text-fushia{
    font-size: 30px;
    color: rgb(197, 46, 176);
}
.text-orange{
    font-weight: bold;
    color: rgb(203, 149, 72);
}
.tldr-btn{
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.tldr-text{
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    top: 0;
    background: linear-gradient(
        to bottom, 
        rgb(150, 150, 150) 0%,
        rgb(221, 221, 221)30%,
        rgb(221, 221, 221) 70%,
        rgba(150, 150, 150) 100%
    ); 
    font-size: 18px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.486);
    padding: 4px 25px;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    z-index: 20;
}
.tldr-text:hover{
    color: rgb(188, 32, 32);
    box-shadow: none;

    animation-name: tldrBlip;
    animation-duration: 0.1s;
    animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
}
  @keyframes tldrBlip {
    0%  {
        color: rgb(0, 0, 0);
    }
    100%  {
        color: rgb(188, 32, 32);
    }
  }

.bio-body{
    padding: 0px 80px;
}
.bio-content-wrapper{
    margin-top: -30px;
}
.bio-content{
    margin-top: -20px;
    font-size: 24px;
    line-height: 30px;
    color: rgb(64, 64, 64);
    text-align: left;
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
}
.aBit{
    position: relative;
    display: block;
    top: -130px;
    left: -10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, .9);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.6);
    -webkit-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg); 
    transform: rotate(-8deg);
}
.status-check{
    position: relative;
    display: block;
    top: -45px;
}
.bio-intro-status{
    font-size: 35px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    text-align: left;
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
}

@media only screen and (max-width: 724px){
    .bio-intro{
        font-size: 35px;
    }
    .bio-content-skills{
        font-size: 26px;
        line-height: 30px;
    }
    .tldr-text{
        top: -10px;
        padding: 8px 80px;
        margin-bottom: 40px;
        animation-name: none;
    }
    .bio-body{
        padding: 0px 30px;
    }
    .aBit{
        top: -138px;
        left: 8px;
    }
}