#Bio{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: left;
    overflow: scroll;
}
.bio-header{
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    font-size: 20px;
    color: rgb(64, 64, 64);
    text-align: center;
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
}
.timeline-date{
    position: relative;
    display: block;
    float: left;
    top: 1.5px;
    left: -10px;
    width: 12%;
    color: rgb(79, 79, 79);
    text-align: left;
}
.timeline-date-title{
    position: relative;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-align: right;
    text-shadow: 0px 1px 3px rgba(138, 169, 205, 0.3);
}
.timeline-date-description{
    position: relative;
    display: block;
    float: left;
    width: 78%;
    left: 2%;
    border-left: 2px solid rgb(164, 183, 203);
    padding-left: 30px;
    font-size: 17px;
}
.divider-marker{
    position: absolute;
    top: 4px;
    left: -7px;
    width: 8px;
    height: 8px;
    background-color: white;
    border: 2px solid rgba(95, 128, 165, 0.7);
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px rgb(0, 81, 173);

    animation-name: blip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
  @keyframes blip {
    0%  {
        box-shadow:  0px 0px 1px rgb(87, 147, 215);
    }
    50%  {
        box-shadow:  0px 0px 5px rgb(0, 76, 255);
    }
    100% {
        box-shadow:  0px 0px 1px rgb(87, 147, 215);
    }
  }

@media only screen and (max-width: 724px){
    .bio-header{
        font-size: 14.5px;
    }
    .timeline-date{
        display: inline-block;
        float: none;
        width: 85%;
        left: 15px;
        margin-bottom: 10px;
        transform: scale(1.2);
    }
    .timeline-date-title{
        font-size: 15px;
        text-align: left;
    }
    .timeline-date-description{
        width: 88%;
        border: none;
        left: 0;
    }
    .divider-marker{
        display: none;
    }
  }