#ContactPage{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: scroll;
}
.contact-header{
    margin-top: 50px;
    font-size: 42px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
}
.contact-subheader{
    font-size: 30px;
    color: rgb(64, 64, 64);
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
}
.conact-form{
    position: relative;
    display: inline-block;
    width: 60%;
    height: fit-content;
    top: 50px;
    padding: 20px;
    background: linear-gradient(
        to bottom right, 
        rgb(226, 230, 244) 0%,
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255) 60%,
        rgb(209, 214, 224) 100%
    ); 
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(138, 169, 205, 0.5);
}
.conact-form:hover{
    box-shadow: 0px 0px 5px rgba(138, 169, 205, 0.3);
}
input{
    width: 97%;
    height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 8px;
    border: 1px solid rgb(166, 180, 195);
    border-radius: 8px;
    box-shadow: inset 0px 0px 6px rgba(10, 50, 95, 0.6);
}
input:hover{
    box-shadow: inset 0px 0px 10px rgba(10, 50, 95, 0.7);
}
.msg-input{
    width: 96%;
    min-width: 96%;
    max-width: 96%;
    height: 100px;
    font-family: sans-serif;
    font-size: 15px;
    padding: 8px;
    text-align: left;
    border: none;
    border: 1px solid rgb(166, 180, 195);
    border-radius: 8px;
    box-shadow: inset 0px 0px 6px rgba(10, 50, 95, 0.6);
}
.msg-input:hover{
    box-shadow: inset 0px 0px 10px rgba(10, 50, 95, 0.7);
}

.contact-label{
    line-height: 25px;
    font-weight: bold;
    color: rgb(75, 141, 217);
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.306);
}
.input-full{
    position: relative;
    display: block;
    width: 100%;
    padding: 1% 1% 2% 1%;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.contact-submit-btn{
    width: fit-content;
    height: fit-content;
    padding: 8px 25px;
    border: 2px solid rgb(124, 180, 243);
    border-radius: 10px;
    background: linear-gradient(
        to bottom, 
        rgb(136, 199, 231) 2%,
        rgba(75, 141, 217) 33%,
        rgba(75, 141, 217) 66%,
        rgba(136, 199, 231) 100%
    ); 
    box-shadow: 0px 2px 8px rgb(145, 165, 188);
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.contact-submit-btn:hover{
    box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.5);
}
.thank-you-reponse{
    position: relative;
    display: inline-block;
    width: 90%;
    height: fit-content;
    padding: 20px;
    top: 60px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    color: black;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.306);
    z-index: 5;

    animation-name: thankYouMsg;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
    @keyframes thankYouMsg {
      0%  {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
  .none{
      display: none;
  }





@media only screen and (max-width: 724px){
    .contact-header{
        font-size: 28px;
    }
    .contact-subheader{
        font-size: 16px;
    }
    .conact-form{
        width: 85%;
        top: 20px;
    }  
    .thank-you-reponse{
        width: 72%;
        top: -132px;
        font-size: 18px;
    }
}