#ContactPage{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow: scroll;
}
.contact-header{
    margin-top: 50px;
    font-size: 42px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
}
.contact-subheader{
    font-size: 30px;
    color: rgb(64, 64, 64);
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
}
.conact-form{
    position: relative;
    display: inline-block;
    width: 60%;
    height: fit-content;
    top: 50px;
    padding: 20px;
    background: linear-gradient(
        to bottom right, 
        rgb(194, 195, 197) 0%,
        rgb(245, 248, 254) 40%,
        rgb(245, 248, 254) 60%,
        rgb(194, 195, 197) 100%
            ); 
    border: 2px solid rgb(229, 229, 229);
    border-radius: 25px;
    box-shadow: 0px 0px 15px rgba(165, 172, 181, 0.5);
}
.conact-form:hover{
    box-shadow: 0px 0px 5px rgba(138, 169, 205, 0.3);
}
input{
    width: 97%;
    height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    padding-left: 8px;
    border: 1px solid rgb(166, 180, 195);
    border-radius: 8px;
    box-shadow: inset 0px 0px 6px rgba(74, 79, 84, 0.6);
}
input:hover{
    box-shadow: inset 0px 0px 10px rgba(64, 64, 64, 0.7);
}
.msg-input{
    width: 96%;
    min-width: 96%;
    max-width: 96%;
    height: 100px;
    font-family: sans-serif;
    font-size: 15px;
    padding: 8px;
    text-align: left;
    border: none;
    border: 1px solid rgb(166, 180, 195);
    border-radius: 8px;
    box-shadow: inset 0px 0px 6px rgba(74, 79, 84, 0.6);
}
.msg-input:hover{
    box-shadow: inset 0px 0px 10px rgba(64, 64, 64, 0.7);
}

.contact-label{
    line-height: 25px;
    font-weight: bold;
    color: rgb(66, 66, 66);
    text-shadow: 0px 2px 3px rgba(23, 59, 88, 0.306);
}
.input-full{
    position: relative;
    display: block;
    width: 100%;
    padding: 1% 1% 2% 1%;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}
.contact-submit-btn{
    width: fit-content;
    height: fit-content;
    padding: 8px 25px;
    border: 2px solid rgb(158, 158, 158);
    border-radius: 10px;
    background: linear-gradient(
        to bottom, 
        rgb(170, 170, 170) 2%,
        rgb(93, 95, 96) 33%,
        rgba(93, 95, 96) 66%,
        rgba(170, 170, 170) 100%
    ); 
    box-shadow: 0px 2px 8px rgb(145, 165, 188);
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.contact-submit-btn:hover{
    background: linear-gradient(
        to bottom, 
        rgb(167, 197, 227) 2%,
        rgb(78, 156, 202) 33%,
        rgba(78, 156, 202) 66%,
        rgba(167, 197, 227) 100%
        ); 
    border: 2px solid rgb(179, 220, 254);
    box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.5);
    transform: scale(1.06);
}
.contact-submit-btn:hover{
    box-shadow: inset 0px 0px 15px rgba(255, 255, 255, 0.1);
    transform: scale(0.96);
}
.thank-you-reponse{
    position: relative;
    display: inline-block;
    width: 90%;
    height: fit-content;
    padding: 20px;
    top: 60px;
    background-color: white;
    text-align: center;
    font-size: 30px;
    color: rgb(38, 145, 207);
    text-shadow: 0px 2px 3px rgba(33, 108, 161, 0.306);
    z-index: 5;

    animation-name: thankYouMsg;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
    @keyframes thankYouMsg {
      0%  {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
  }
  .none{
      display: none;
  }





  @media only screen and (max-width: 480px){
    #ContactPage{
        height: 85%;
        bottom: 0;
    }
    .contact-header{
        margin-top: 20px;
        font-size: 28px;
    }
    .contact-subheader{
        margin-top: -10px;
        font-size: 16px;
    }
    .conact-form{
        width: 90%;
        top: 10px;
        left: -5px;
        margin-bottom: 80px;
        border-radius: 0;
    }  
    .thank-you-reponse{
        width: 72%;
        top: -132px;
        font-size: 18px;
    }
}