#Main{
    position: relative;
    display: block;
    float: left;
    width: 74.5%;
    height: 98.4vh;
    top: .8vh;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
    background-color: white;
    overflow: hidden;
}





@media only screen and (max-width: 1025px){
    #Main{
        width: 100%;
        min-width: 100%;
        height: 69vh;
        top:0;
    }
}

@media only screen and (max-width: 375px){
    #Main{
        width: 100%;
        min-width: 100%;
        height: 67vh;
        top:0;
    }
}