#MobileNav{
    position: absolute;
    display: block;
    text-align: center;
    width: 100vw;
    height: fit-content;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 0px 5px 15px rgba(138, 169, 205, 0.8);
    background-color: white;

    animation-name: mobileNav;
    animation-duration: .5s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    /* transition: 0.2s; */
    }
    
    @keyframes mobileNav {
        0% {
            top: -100%;
        }
        100%  {
            top: 0;
        }
    }

#MobileNavMenu{
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(138, 169, 205, 0.5);
}
.mobileNavOptions{
    position: relative;
    display: inline-block;
    width: 120%;
    left: -11%;
    font-size: 20px;
    padding: 20px 0px 20px 0px;
    box-shadow: inset 0px 0px 15px rgba(130, 164, 204, 0.3);
    cursor: pointer;
}
.mobileNavOptions:hover{
    transform: scale(1.05);
    text-shadow: 0px 1px 2px rgba(138, 169, 205, 0.2);
    box-shadow: 0px 0px 15px rgb(138, 169, 205, 0.3);
}
.mobileNavOptions:active{
    text-shadow: none;
    box-shadow: inset 0px 0px 10px rgba(138, 169, 205, 0.2);
}
.text-grey{
    color: rgb(79, 79, 79);
}
.text-grey:hover{
    color: rgb(75, 141, 217);
}
.controller{
    position: relative;
    display: inline-block;
    width: 120%;
    left: -11%;
    font-size: 16px;
    padding: 13px 0px 13px 0px;
    cursor: pointer;
}
.controller:hover{
    transform: scale(1.05);
    text-shadow: 0px 1px 2px rgba(138, 169, 205, 0.2);
    box-shadow: 0px 0px 15px rgb(138, 169, 205, 0.3);
}
.controller:active{
    text-shadow: none;
    box-shadow: inset 0px 0px 10px rgba(138, 169, 205, 0.2);
}




    .mobileNavButton{
        width: 100%;
        height: fit-content;
        top: 50px;
        left: 0;
    }
    #MobileNav{
        display: none;
    }
    
    /* #MobileNav{
        position: absolute;
        width: 100%;
        height: fit-content;
        top: 200px;
        left: 0;
        z-index: 15;
    }
    .MobileNavOptions{
        font-size: 20px;
        padding: 12px 0px 12px 0px;    
    } */
