#Portfolio{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: scroll;
}
.portfolio-header{
    margin-top: 50px;
    font-size: 42px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
}

.card-row{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 350px;
}
.portfolio-card{
    position: relative;
    display: inline-block;
    width: 80%;
    height: fit-content;
    background: linear-gradient(
        to bottom, 
        rgb(226, 230, 244) 0%,
        rgb(255, 255, 255) 50%,
        rgb(255, 255, 255) 60%,
        rgb(209, 214, 224) 100%
    ); 
    box-shadow: 0px 0px 15px rgba(138, 169, 205, 0.5);
    border: 2px solid rgba(143, 166, 205, 0.3);
    border-radius: 20px;
    margin: 2%;
    cursor: pointer;
}
.portfolio-card:hover{
    box-shadow: 0px 0px 5px rgba(138, 169, 205, 0.3);
}
.portfolio-preview{
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: overlay;
}
.bottom-fade{
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    margin-top: -140px;
    margin-bottom: 0px;
    border-radius: 20px;
    background: linear-gradient(
        to bottom, 
        rgba(255, 255, 255, 0) 0%,
        rgba(237, 242, 245, 0.8) 45%,
        rgb(240, 247, 255) 100%
        ); 
}
.portfolio-more-info{
    position: relative;
    display: inline-block;
    bottom: 30px;
    color: rgb(65, 140, 200);
    z-index: 1;
}
.more-info-fx{
    animation-name: moreInfoFx;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
  @keyframes moreInfoFx {
    50%  {
        transform: scale(1.05);
    }
  }

.card-info{
    position: relative;
    display: none;
    margin-top: -20px;
    width: 100%;
    height: fit-content;
    text-align: left;
    background-color: rgb(231, 238, 249);
    cursor: default;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    animation-name: displayPortfolioInfo;
    animation-duration: .6s;
    animation-iteration-count: 1;
    transition-timing-function: ease-in-out;
    transition: 0.2s;
}

    @keyframes displayPortfolioInfo {
        0% {
            opacity:0; 
        }
    }

.project-title{
    width: 96%;
    height: fit-content;
    padding: 2%;
    background-color: rgb(196, 211, 236);
    box-shadow: 0px 1px 3px rgba(17, 64, 134, 0.58);
    color: white;
    text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
}
.project-info-section{
    padding: 0px 2%;
    overflow-wrap: break-word;
}
.info-description-line{
    width: 100%;
    height: fit-content;
    font-size: 18px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}




@media only screen and (max-width: 724px){
    .portfolio-card{
        width: 95%;
        margin-bottom: 50px;
    }
    .project-title{
        font-size: 25px;
    }

}