#ProfileBanner{
    position: relative;
    display: block;
    float: left;
    width: 25%;
    min-width: 300px;
    height: 100vh;
    overflow: hidden;
    /* box-shadow: inset 0px 0px 2px black; */
}
.menuBtn{
    /*  */
    display: none;
}
#ProfilePicture{
    position: relative;
    display: inline-block;
    background-image: url('../images/Headshot_2018.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 20px;
    width: 250px;
    height: 240px;
    box-shadow: inset 0px 0px 12px rgba(138, 169, 205, 0.3);
    border-radius: 50%;
}
#ProfilePicture:hover{
    box-shadow: inset 0px 0px 8px rgba(138, 169, 205, 0.5);
}
.profile-name{
    position: relative;
    display: inline-block;
    width: 100%;
    top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(64, 64, 64);
    text-shadow: 0px 1px 2px rgba(138, 169, 205, 0.5);
}
.profile-title{
    position: relative;
    display: inline-block;
    width: 100%;
    top: 35px;
    font-size: 22px;
}
.profile-interests{
    position: relative;
    display: inline-block;
    width: 100%;
    top: 100px;
}
.profile-interests-header{
    position: relative;
    display: inline-block;
    font-size: 27px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;
}
.profile-interests-text{
    position: relative;
    display: inline-block;
    font-size: 25px;
    line-height: 35px;
    width: 100%;
}




@media only screen and (max-width: 724px){
    .menuBtn{
        display: block;
        float: right;
        top:0;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 55px;
        font-weight: bold;
        margin-right: 20px;
        border-radius: 50%;
        cursor: pointer;
    }    
    #ProfileBanner{
        width: 100%;
        height: 210px;
    }
    #ProfilePicture{
        width: 120px;
        height: 115px;    
    }
    .profile-name{
        top: 20px;
        font-size: 30px;
        font-weight: bold;
    }
    .profile-title{
        position: relative;
        display: inline-block;
        width: 100%;
        top: 20px;
        font-size: 20px;
    }
}