#Resume{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: scroll;
}
.dl-resume{
    position: relative;
    display: block;
    float: right;
    top: 0px;
    right: 20px;
    width: fit-content;
    text-align: center;
}
.dl-resume:hover{
    top: 5px;
    transform: scale(1.04);

    animation-name: nudgeDown;
    animation-duration: .1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}
    @keyframes nudgeDown {
        0%  {
            top: 0px;
            transform: scale(1.04);
        }
        100% {
            top: 5px;
            transform: scale(1.04);
        }
    }

.resume-btn{
    width: fit-content;
    height: auto;
    margin-bottom: 30px;
    padding: 12px 25px 3px 25px;
    background-color: rgba(87, 147, 215, 0.5);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-shadow: 0px 1px 2px rgb(5, 33, 66);
    text-decoration: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.resume-btn:hover{
    background-color: rgba(73, 149, 236, 0.7);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.resume-header{
    position: relative;
    display: inline-block;
    width: 100%;
    height: fit-content;
    font-size: 20px;
    color: rgb(64, 64, 64);
    text-align: center;
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
}
.resume-subheader{
    position: relative;
    top: -10px;
    font-size: 20px;
}
.work-experience{
    position: relative;
    display: inline-block;
    top: -10px;
    text-align: left;
}
.resume-experience{
    font-size: 24px;
    color: rgb(64, 64, 64);
    text-align: left;
    text-shadow: 0px 2px 4px rgba(138, 169, 205, 0.5);
    margin-left: 65px;
}
.timeline-date{
    position: relative;
    display: block;
    float: left;
    top: 0;
    left: -10px;
    width: 12%;
    color: rgb(79, 79, 79);
    text-align: left;
}
.timeline-date-title{
    position: relative;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-align: right;
    text-shadow: 0px 1px 3px rgba(138, 169, 205, 0.3);
}
.timeline-date-description{
    position: relative;
    display: block;
    float: left;
    width: 78%;
    left: 2%;
    border-left: 2px solid rgb(164, 183, 203);
    padding-left: 30px;
    font-size: 17px;
}
.divider-marker{
    position: absolute;
    top: 4px;
    left: -7px;
    width: 8px;
    height: 8px;
    background-color: white;
    border: 2px solid rgba(95, 128, 165, 0.7);
    border-radius: 50%;
    box-shadow: inset 0px 0px 5px rgb(0, 81, 173);

    animation-name: blip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
  @keyframes blip {
    0%  {
        box-shadow:  0px 0px 1px rgb(87, 147, 215);
    }
    50%  {
        box-shadow:  0px 0px 7px rgb(0, 76, 255);
    }
    100% {
        box-shadow:  0px 0px 1px rgb(87, 147, 215);
    }
  }
.entry-description{
    margin-top: -22px;
}
.entry-description-company{
    color: rgb(90, 90, 90);
    text-shadow: 0px 1px 3px rgba(138, 169, 205, 0.5);
    margin-bottom: -15px;
}
.entry-description-title{
    font-size: 18px;
    font-style: italic;
    text-shadow: 0px 1px 3px rgba(138, 169, 205, 0.4);
    color: rgb(87, 147, 215);
    margin-left: 14px;
}
.entry-description-line{
    margin: -10px 0px 25px 15px;
}

@media only screen and (max-width: 724px){
    .bio-header{
        font-size: 14.5px;
    }
    .resume-header{
        width: 88%;
        text-align: left;
        left: 25px;
    }
    .resume-experience{
        margin-top: 10px;
        margin-left: 25px;
    }        
    .timeline-date{
        display: inline-block;
        float: none;
        width: 85%;
        left: 15px;
        margin-bottom: 10px;
        transform: scale(1.2);
    }
    .timeline-date-title{
        font-size: 16px;
        text-align: left;
    }
    .timeline-date-description{
        width: 86%;
        border: none;
        left: 0;
        font-size: 16px;
    }
    .divider-marker{
        display: none;
    }
  }